<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar flex-1">
    <div class="dropdown">
      <!-- Esta parte es para el drop down movil -->
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li><a>Item 1</a></li>
        <li>
          <a>Parent</a>
          <ul class="p-2">
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </li>
        <li><a>Item 3</a></li>
        @if (accountService.currentUser(); as user) {
        <details class="dropdown">
          <summary class="btn m-1 text-xs">{{user.firstName + ' ' + user.lastName}}
            <div class="avatar">
              <div class="w-8 rounded">
                <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
                  alt="Tailwind-CSS-Avatar-component" />
              </div>
            </div>
          </summary>
          <ul class="menu dropdown-content bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
            <li><a>Profile</a></li>
            <li><a (click)="handleLogout()">Logout</a></li>
          </ul>
        </details>
        }
        @else{
        <app-login-form mode="mobile"> </app-login-form>
        }
        
      </ul>
    </div>
    <a routerLink="/home" class="btn btn-ghost text-xl">Bepensa</a>
  </div>
  <!-- Codigo para la parte de pantalla grande -->
  <div class="navbar-start hidden lg:flex justify-start">
    <ul class="menu menu-horizontal px-1">
      <li><a>Item 1</a></li>
      <li>
        <details>
          <summary>Parent</summary>
          <ul class="p-2">
            <li class="w-30"><a>Submenu 1</a></li>
            <li class="w-30"><a>Submenu 2</a></li>
          </ul>
        </details>
      </li>
      <li><a>Item 3</a></li>
    </ul>
  </div>
  @if (accountService.currentUser(); as user ) {
    <div class="navbar-end hidden lg:flex">
      <details class="dropdown">
    <summary class="btn m-1">{{user.firstName + ' ' + user.lastName}}
      <div class="avatar">
        <div class="w-8 rounded">
          <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
            alt="Tailwind-CSS-Avatar-component" />
        </div>
      </div>
    </summary>
    <ul class="menu dropdown-content bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
      <li><a>Profile</a></li>
      <li><a (click)="handleLogout()">Log out</a></li>
    </ul>
  </details>

    </div>
  
  }
  @else {
  <div class="navbar-end hidden lg:flex">
    <app-login-form mode="desktop">
    </app-login-form>
  </div>
  }

</div>
